.deep-violet-text{
	color: #220229;
    font-weight: bold;
}

.more-photo-filter{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	text-align: center;
	cursor: pointer;
	height: 100%;
	margin-top: auto;
	align-items: center;
	display: none;
	background: #a0a0a085;
}

.carousel:hover .more-photo-filter{
	display: flex;
}

.img-auto-adjust{
	visibility: hidden;
	margin-right: auto!important;
	margin-left: auto!important;
}

.carousel-img-panel{
	background: #000; 
	overflow: hidden;
}

.vr-hr-middle{
	width: 100%; 
	height: 100%; 
	justify-content: center; 
	display: inline-flex;
}

.carousel-img-panel .active{
	justify-content: center;
	display: inline-flex!important;
	transition: ease-all;
}

#ssModal .carousel-item-right{
	display: none;
}

#ssModal .carousel-item-left{
	display: none;
}

.loaderModal{
	width: 35px;
}

.loaderModal-container{
	width: 100%; 
	position: absolute; 
	top: 50%; 
	left: 50%;
}